  <h1 class="header">Articles</h1>
  <div class="container-sm list-group">
    <% @articles.each do |article| %>
      <%= link_to article_path(article.id) do %>
        <div class="list-group-item list-group-item-action article-link">
          <div class="form-check">
            <input onClick="handleToggleRead(event, <%= article.id %>)"
                   class="form-check-input mark-read-checkbox"
                   type="checkbox"
                   value="<%= article.id %>"
                   id="flexCheckDefault_<%= article.id %>"
                   <%= 'checked' if article.read? %>
            />
            <label class="form-check-label" for="flexCheckDefault_<%= article.id %>">
              <%= article.read? ? 'Mark Unread' : 'Mark Read' %>
            </label>
          </div>
          <h3><%= article.title %></h3>
          <p class="text-muted"><%= preview(article.description) %></p>
          <p>Date Published: <%= article.pub_date.to_date %></p>
          <br>
        </div>
      <% end %>
    <% end %>
  </div>
  